:root {
    --orange: #F7AA00;
    --orange-hover: #f79400;
    --green: #00F790;
    --green-hover: #00ac4d;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #14143a;
    color: white;
    margin: 0!important;
}

.background {
    background-image: radial-gradient(#05567c 0%, #21233b 50%);
    width: 100%;
}

.mask {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    mix-blend-mode: hard-light;
    background-color: #191941;
    min-height: 100vh;
}

.row {
    display: flex;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100vh;
    background-color: #3f437c;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    max-width: 1600px;
}

.card {
    display: flex;
    margin: 1rem;
    min-height: 360px;
    min-width: 350px;
    flex: 1;
    border-radius: 12px;
    background-color: grey;
}

.chart {
    width: 100%;
    height: 10rem;
}

.link-reset {
    text-decoration: none;
    color: white;
}

.menu-items-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 10px;
}

.menu-item:hover {
    background-color: #0b0b33;
}