<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$FunctionforUpdateBill</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functionforupdatebill.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bfbd3827-a1e2-437b-b27a-298de2e5a47b/resourceGroups/miogrupporisorse/providers/Microsoft.Web/sites/FunctionforUpdateBill</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionforupdatebill.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>